.container{
  max-width: 1180px;
  margin: 0 auto;
  width: 90%;
  

}

.nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 12px;

/* display: none; */
}

.nav_menu__ul{
  display: flex;
  justify-content: space-between;
  width: 197px;

}

.nav_manu__a{
font-family: 'Quicksand', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 22px;
/* identical to box height */


color: #433840;

}
.nav_manu__a:hover{
  color: #FEA3AC;
}



.nav_logo_img{
  width: 224px;
}

/* header======================================= */

.about {
 

  background: url(../img/about.jpg) center center no-repeat;
  max-width: 1820px;
  
  margin: 0 auto;
  /* display: none; */
  
}
.svg-style{
  position: relative;
}

.svg-style:before{
  content: "";
  background: url(../img/about-top.svg) center center no-repeat;
  width: 100%;
  height: 130px;
  position: absolute;
  top: -1px;
  left: 0;
  width: 100%;
}

.svg-style:after{
  content: "";
  width: 100%;
  height: 111px;
  position: absolute;
  background: url(../img/about-bottom.svg) center center no-repeat;
  background-repeat: no-repeat;
  left: 0;
  bottom: -2px;
}



.about_items{
  display: flex;
  align-items:center;
  justify-content: center;
  min-height: 400px;
  text-align: center;
  flex-direction: column;
}



.about_title{
  font-family: Quicksand;
font-style: normal;
font-weight: bold;
font-size: 50px;
line-height: 62px;
/* identical to box height */


color: #FFFFFF;
}

.about_subtitle{
  font-family: Waiting for the Sunrise;
font-style: normal;
font-weight: 300;
font-size: 30px;
line-height: 50px;
/* identical to box height */


color: #FFFFFF;
}

/* smoothie                          ===================== */
.smoothie{
  /* display: none; */
}
.smoothie_block{
 
display: flex;
align-items: center;
justify-content: space-between;

margin-bottom: 80px;
margin-right: 5px;
margin-left: 5px;




}


.smoothie_h2{
  font-family: Quicksand;
font-style: normal;
font-weight: normal;
font-size: 30px;
line-height: 37px;
/* identical to box height */


color: #433840;
}

.smoothie_p{
max-width: 332px;
font-family: Quicksand;
font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 24px;
/* or 160% */
margin-bottom: 80px;



color: #9A9A9A;


}
.smoothie_p:last-child{
  margin-bottom: 0;

}








/* ----------------------------------------------------------------------------------------------------------------------------*/





/* fruit+++++++++++++++++++++++++++++++++++++++++++++++ */
.fruit{
  position: relative;
  max-width: 1820px;
  background-color:  #FEA3AC ;
  margin: 0 auto;
  height: 600px;
  margin-top: 80px;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* display: none; */
  
}

.fruit::before{
  content: "";
  position: absolute;
  background: url(../img/pink-top.svg) center center no-repeat;
  width: 100%;
  height: 146px;
  top: -16px;
  
}
.fruit::after{
  content: "";
  position: absolute;
  background: url(../img/pink-bottom.svg) center center no-repeat;
  width: 100%;
  height: 111px;
  bottom: -1px;
  
}
.fruit_blocks{
  display: flex;
  justify-content:space-between;
  max-width: 1103px;
  height: 268px;
}
.fruit_block{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.fruit_img{
  height: 135px;
  width: 135px;
}
.fruit_title{   
  font-family: Waiting for the Sunrise;
  font-style: normal;
  font-weight: 300;
  font-size: 60px;
  line-height: 99px;
  color: #DFEEB6;
  margin-left: 8px;
}
.fruit_subtitle{
  font-family: Quicksand;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 25px;
  /* identical to box height */
  color: #FFFFFF;
}



/* team================================================================================================= */
.team { 
  display: none;
  
}

.team_title {
font-family: Quicksand;
font-style: normal;
font-weight: bold;
font-size: 50px;
line-height: 62px;
/* identical to box height */
text-align: center;

color: #433840;
}
.team_subtitle {
font-family: Waiting for the Sunrise;
font-style: normal;
font-weight: 300;
font-size: 30px;
line-height: 50px;
/* identical to box height */
text-align: center;

color: #F7A1A8;
margin-bottom: 60px;
}
.team_items {
max-width: 1143px;
display: flex;
flex-wrap: wrap;
margin: 0 auto;
justify-content: space-between;
}
.team_item {
width: calc(50% - 176px);
display: flex;
align-items: center;
background: #C9E3F4;
border-radius: 5px;
margin-left: 165px;
margin-bottom: 40px;
text-align: left;
}
.team_item:nth-child(3), .team_item:nth-child(4){
display: flex;
flex-direction: row-reverse;
margin-right: 165px;
margin-left: 0;
text-align: right;
}
.team_item:nth-child(2), .team_item:nth-child(3){
background-color: #DFEEB6;
}
.team_icon { 
margin-left: -165px;
width: 330px;
}

.team_item:nth-child(3) .team_icon, .team_item:nth-child(4) .team_icon{
margin-right: -165px;
margin-left: 0;
}

.team_data {

display: flex;
flex-direction: column;
}
.team_data_title { 
font-family: Quicksand;
font-style: normal;
font-weight: bold;
font-size: 30px;
line-height: 37px;
/* identical to box height */

margin-top: 84px;
color: #FFFFFF;
}
.team_data_subtitle {
font-family: Quicksand;
font-style: normal;
font-weight: 300;
font-size: 20px;
line-height: 25px;
/* identical to box height */
margin-bottom: 14px;


color: #433840;
}
.team_data_p {
font-family: Quicksand;
font-style: normal;
font-weight: 300;
font-size: 15px;
line-height: 25px;
/* or 167% */
width: 190px;



color: #433840;
}
.team_social {
display: flex;
margin-top: 4px;
margin-bottom: 83px;
}
.team_social_a { }
.team_social__img {
margin-left: 15px;
max-width: 18px;
margin-top: 4px;
}


/* FOOTER================================================= */



.footer{
  display: none;

}
 

.footer-info{
background-image: url(../img/footer_up.png);
background-position: center center ;
background-repeat: no-repeat;
padding-top: 62px;
padding-bottom: 60px;

}

.footer-info_items{
display: flex;
justify-content:space-between ;
max-width: 1141px;

}

.footer-info_item{

}
/* 1 block ============================*/

.footer-info_title{
  font-family: Quicksand;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 37px;
  /* identical to box height */
  margin-bottom: 19px;
  
  color: #FFFFFF;
}

.footer-info_p{
  font-family: Quicksand;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 35px;
  max-width: 254px;
  
  
  color: #FFFFFF;
}


.footer-info_span{
  font-family: Quicksand;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 35px;
  /* or 175% */
  
  
  color: #DFEEB6;
}
/* 2 block======================= */
.footer-info_cont{
  max-width: 293px;
}
/* BEFORE ==============================*/
.footer-info_phone:before{
  content: "";
  
  background: url(../img/phone.png) center center no-repeat ;
  position: absolute;
  width: 96px;
  height: 96px;
  left: -58px;
  top: -30px;
}
.footer-info_email:before{
  content: "";
  background: url(../img/email.png) center center no-repeat;
  width: 96px;
  position: absolute;
  height: 96px;
  left: -58px;
  top: -30px;
}
.footer-info_adress:before{
  content: "";
  width: 96px;
  background: url(../img/adress.png) center center no-repeat;
  position: absolute;
  height: 96px;
  left: -58px;
  top: -30px;

}


/* PHONE==================================== */
.footer-info_phone{
  
  font-family: Quicksand;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 35px;
  display: block;
  /* or 175% */
  position: relative;
  
  color: #FFFFFF;
}

.footer-info_email{
  font-family: Quicksand;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 35px;
  /* or 175% */
  display: block;
  text-decoration-line: underline;
  position: relative;
  color: #FFFFFF;
  
}

.footer-info_adress{
  font-family: Quicksand;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 35px;
  /* or 175% */
  display: block;
  position: relative;
  color: #FFFFFF;
  
}
/* 3 block=================== */
.footer-info_icon{
  width: 343px;
height: 220px;
display: flex;
flex-wrap: wrap;
justify-content: space-between;
align-content: space-between;
}

.footer-info_img{
max-width:  97px;
}


/* FOOTER */


.section_bootom{
  background: #433840;
  max-width: 1920px;
  margin: 0 auto;
}

.bootom_items{
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
 
}

.bootom_p{
  align-items: center;
  font-family: Quicksand;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 35px;
  /* identical to box height, or 233% */
  
  
  color: #FFFFFF;
}
.bootom_img{
  margin-right: 30px;
  letter-spacing: 20px;

}

.footer_bootom__img{
  width: 20px;
  margin-top: 15px;
  margin-bottom: 10px;

}


/* media=                   =+++++++++++++++++++++++ */











